@{
    Layout = "~/Views/Shared/_MiPropioLayout.cshtml";
}
<link href="~/css/estilo.css" rel="stylesheet" type="text/css">
<script src="~/js/scripts.js"></script>

<h3 class="principal">Paginas estaticas</h3>
<img src="~/images/uno.jpeg" onclick="clickeado()">