<h3>Ejemplos de uso de parametros</h3>
<a asp-controller="Parametros" asp-action="ejemplo1" asp-route-id="123">Pasando un parametro</a><br />
<a asp-controller="Parametros" asp-action="ejemplo2" asp-route-modelo="Camionero" asp-route-color="rojo">Pasando varios parametros</a>