<h3>Enlaces para las query strings</h3>
<a asp-controller="query" asp-action="ejemplo1" asp-route-cod="123XYZ">Ejemplo 1 - un parametro</a><br>
<a asp-controller="query" asp-action="ejemplo2" asp-route-page="101" asp-route-cod="PEPE001">Ejemplo 2 - dos parametros</a><br>
<a asp-controller="query" asp-action="ejemplo3" asp-route-page="120" asp-route-cod="ABC-05">Ejemplo 3 - dos parametros (usando HttpContext)</a>